.blog-list-box{
    h2{
        font-size: 16px;
    }
    .page-title{
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .blog-list{
        margin:0px;
        padding: 0px;

        &>li{
            margin-bottom: 30px;
            border-bottom: 1px solid #eee;
            list-style: none;
        }
        h3{
            margin-bottom: 4px;
            a{
                display: block;
                font-size: 20px;
                text-decoration: none;
                &:visited{
                    color: #1756a9;
                }
                &:hover{
                    color: #111;
                    text-decoration: underline;
                }
            }
        }
        span.post-date{
            font-size: 12px;
            color: #828282;
        }
        p{
            padding: 8px 0 0 0;
            margin: 0 0 12px 0;
            line-height: 22px;
        }
    }
}


.custom-pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    list-style: none;
}
.custom-pagination>li{
    display: inline;
}
.custom-pagination>li:first-child>a, .custom-pagination>li:first-child>span{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-pagination>li>a, .custom-pagination>li>span{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.custom-pagination>.active>a, .custom-pagination>.active>a:focus, .custom-pagination>.active>a:hover, .custom-pagination>.active>span, .custom-pagination>.active>span:focus, .custom-pagination>.active>span:hover{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}