body{
    font: 400 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
}
.content-box{
    padding: 30px 0;
}
.content{
    /*max-width: calc(800px - (30px * 2));*/
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

table{
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  
  th{
    text-align: center;
  }
  th,td{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  td{
    text-indent: 10px;
  }
}
