---
layout: blog
title: blogs list
---

<div class="blog-list-box">
  <h2 class="page-title">{{page.title}}</h2>
  <ul class="blog-list">
    {% for post in site.posts %}
    {% if forloop.index < 10 %} 
      <li class='page page-{{forloop.index | times: 1.0 | divided_by: 10 | ceil}}'>
        <h3><a href="{{ post.url | prepend: baseurl }}">{{post.title}}</a></h3>
        {%if page.excerpt %}
        <p class="desc-box">{{ post.excerpt }}</p>
        {% endif %}

        <span class="post-date">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{
          page.date | date: "%B %-d, %Y" }}</span>
      </li>
      {% else %}
      <li class='page hide page-{{forloop.index | times: 1.0 | divided_by: 10 | ceil}}'>
        <h3><a href="{{ post.url | prepend: baseurl }}">{{post.title}}</a></h3>
        {%if page.excerpt %}
        <p class="desc-box">{{ post.excerpt }}</p>
        {% endif %}

        <span class="post-date">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on
          {{ page.date | date: "%B %-d, %Y" }}</span>
      </li>
      {% endif %}
      {%endfor%}
  </ul>
  {% if site.posts.size > 10 %}
  <div class="paginate">
    <ul>
      <li>1</li>
      <li>...</li>
      <li><input type="text" id="gotopage"></li>
      <li class="lastpage">{{ site.posts.size | times: 1.0 | divided_by: 10 | ceil }}</li>
    </ul>
  </div>
  {% endif %}
  <!-- Pagination links -->
  <!-- <div class="pagination-content">
                {% if paginator.total_pages > 1 %}
                <ul class="custom-pagination">
                  <li>
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
                {% else %}
                  <span>&laquo;</span>
                {% endif %}
                  </li>
              
                {% for page in (1..paginator.total_pages) %}
                  {% if page == paginator.page %}
                    <li class="active">
                      <a href="javascript: void(0)">{{ page }}</a>
                    </li>
                  {% elsif page == 1 %}
                    <li>
                      <a href="{{ '/blogs/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                    </li>
                  {% else %}
                    <li>
                      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              
                <li>
                {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
                {% else %}
                  <span>&raquo;</span>
                {% endif %}
                </li>
                </ul>
              {% endif %}
                </div> -->
</div>
{% raw %}
<script>
  let pageSize = Number($('.lastpage').text())
  $('#gotopage').blur(function () {
    let val = Number($('#gotopage').val().trim())
    if(val <= pageSize){
      $('.page').addClass('hide')
      $('.page-' + val).removeClass('hide')
    }
  })

  //回车事件绑定
$('#gotopage').bind('keyup', function(event) {
　　if (event.keyCode == "13") {
　　　　//回车执行查询
　　　　$('#gotopage').blur();
　　}
});
</script>
{% endraw %}