body{
    margin: 0px; 
    padding: 0px;
    font-family: '微软雅黑';
    color: #444;
}
.content{
    width: 100%;
    height: 100%;
}
/*#region header*/
header ul{
    position: absolute;;
    top: 0px;
    right: 0px;
    margin:19px 0 5px;
    padding: 0px 96px 0 0;
}
header li{
    text-decoration: none;
    list-style:none;
    float: left;
    margin-left:20px;
}
header li a{
    color: #333;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: underline;
}
/*#endregion*/